<div class="h2_resume">
<h2>Resume</h2>
</div>

<br></br>
<h3>Here's a few projects:</h3>

<div class="resume_wrapper">
</div>


<div class="sidebar_3">

</div>


<div class="sidebar_4">

</div>

<div class="resume_center_image_1">
<%= image_tag("saving_tails.png",{width: 280}) %>
</div>


<h4>A website made with David Bock, Jason Wieringa and myself. Save the Tails is a pet rescue web application. The site is not hosted yet, so there is no link to click and see it.</h4>

<div class="resume_center_image_2">
<%= link_to image_tag("wellspring_resume.jpg",{width: 280}), "http://wellspringlawn.com"  %>
</div>

<h4>This site uses Flickr's api using the FlickRaw gem, so that the site can be updated from the field by just taking a photo using the Flickr mobile app and then clicking upload to send the image to the "Portfolio" page of the site.</h4>

<h4>The site also has a "Get an Estimate Form" that when filled out sends all the users information to the Wellspring Lawn's owner.</h4>

<div class="resume_center_image_3">
<%= link_to image_tag("resume_pic.png",{width: 280}), "http://0.0.0.0:3000/"  %>
</div>



<h4>This site my online portfolio is made by me.</h4>
<br></br>


<h3>More Relevant RoR Experience:</h3>
<div class="elisha_notes">
<li>  Completed Michael Hartl Rails Tutorial</li>
<li> Completed edX Berkley's 169.1x & 169.2x SaaS course </li>
<li>  Completed "Learn to Program" book & exercises by Chris Pine</li>
<li>  Completed "Learn Ruby the hard way" book and exercises by Zed Shaw</li>
<li>  Completed "Learn the command line the hard way" book and exercises by Zed Shaw</li>
<li>  Attended over 20 local Ruby meetups</li>
<li>  Pair Programmed with over 10 different developers</li>
<li>  Completed Mattan Griffel's "One month Rails"</li>
</div>

<div class="resume_center_image_3">
<%= link_to image_tag("github_resume.jpg"), "https://github.com/joshuakemp1"  %>
</div>
<div id="resume_text">
</div>


<h4>Check out my Github, check it out and see what other things I've done.</h4>


